@primary: #00F1AE; //green
@secondary: #F6ECDA; //white-gray
@import "./profile.less";


// for rem
html {
  font-size: 10px;
}
h3 {
  margin-top: 0;
}

#root {
  width: 100%;
  height: 100%;
  // background-color: @primary;
}

 body {
   min-height: 2000px;
   padding-top: 70px;
 }
 .head{
   display: -webkit-flex;
   display: flex;
   width: 100%;
   background-color: #CCC;
 }
 .container h2 {
   border-bottom: 1px solid;
 }
 .main {
   width: 100%;
 }
 .profile, .events, .favs {
   border-left: 1px solid;
   border-right: 1px solid;
   height: 1000px;
 }

 .createEventForm, .createUserForm, .updateUserForm, .updateEventForm {
   input {
     width: 100%;
   }
 }
 #userProfile {
   text-align: center;
   margin: auto;
   img {
     border-radius: 100%;
   }
   .userName {
     margin: 1em auto;
   }
   .interests {
     width: 100%;
     padding: 1rem;
     display: inline-block;
     li {
       font-size: 1.5rem;
       list-style-type: none;
       display: inline-block;
       margin: 1rem;
       border: 1px solid black;
       padding: .2em;
       padding-left: 0.8em;
       border-top-left-radius: .5em;
       border-top-right-radius: .1em;
       border-bottom-left-radius: .5em;
       border-bottom-right-radius: .1em;
       background-color: rgba(185, 225, 50, .5);
     }
   }
 }

#eventList {
  margin: 0;
  ul {
    margin: .7rem 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    li{
      margin: 0;
      border: 2px solid #CCC;
      vertical-align: bottom;
      .eventPicture {
        margin: 0 !important;
        min-width: 100%;
        max-height: 250px !important;
        vertical-align: bottom !important;
        .eventTitle {
          min-height: 250px;
          h3 {
            margin: 0 !important;
            padding: .1rem;
            min-height: 250px;
          }
          background: rgba(9, 9, 9, .6);
          color: #BBB;
          padding: .7rem;
        }
      }
      .eventDetails{
        width: 100%;
        display:inline-block;
        div, p {
          display: inline-block;
        }
      }
    }
  }
}

.eventAttCount{
  display: inline-block;
  margin: 0;
  width: 100%;
  h3, p {
    display: inline-block
  }
}
.userPic {
 border-radius: 100%;
 width: 100px;
 height: 100px;
}

.eventList {
  overflow-y: scroll;
  max-height:800px;
}

.eventForm {
  max-width: 400px;
  label {
    width: 100%;
  }
  input {
    width: 100%;
  }
}
