#userProfile {
  text-align: center;
  margin: auto;
  img {
    border-radius: 100%;
  }
  .userName {
    margin: 1em auto;
  }
  .interests {
    display: inline-block;
    li {
      list-style-type: none;
    }
  }
}

#testTest{
  border: 3px solid orange;
}
